[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "tuna"

[packages]
flask = "*"
Jinja2 = "*"
flask_wtf = "*"
wtforms = "*"
PyMySQL = "*"

[dev-packages]

[requires]
python_version = "3.9.2"
