* {
    /* 全局配置 */
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    background: linear-gradient(200deg, #cbdcf5, #fce7ef);
    flex-direction: column;
    justify-content: center;
}

h1 {
    text-align: center;
    margin-bottom: 25px;
    /* 大写 */
    text-transform: uppercase;
    color: #fff;
    /* 字间距 */
    letter-spacing: 5px;
}

button {
    width: 20%;
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: #f6f6f6;
    outline: none;
    border-radius: 8px;
    padding: 13px;
    color: #6262ad;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
    -moz-appearance: none;
    display: inline-block;
    font-family: Helvetica,Hiragino Sans GB,WenQuanYi Micro Hei,Microsoft YaHei,sans-serif,Noto Sans CJK SC,Code2001,Code2002;
    font-weight: 400;
    margin: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color .3s ease-out;
}
button:hover {
    background-color: #6262ad;
    color: #f6f6f6;
    transition: background-color 0.5s ease;
}


:root{
    --nav-width:92px;

    /* 自定义颜色 */
    --first-color:#c7c1e9;
    --bg-color:#6161b1;
    --sub-color:#b6cefc;
    --white-color:#fff;

    /* 规定一下字体 */
    --body-font:'Poppins',sans-serif;
    --normal-font-size:1rem;
    --smal-font-size:0.875rem;

    /* 设置一下z-index级别 */
    --z-fixed: 100;
}

*,::before,::after{
    box-sizing: border-box;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
    line-height: inherit;
    text-decoration: none;
}

.l-navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    /* 100%的窗口高度 */
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--white-color);
    padding: 1.5rem 1.5rem 2rem;
    /* padding: 1.5rem 1,5rem 2rem; */
    transition: 0.5s;
    z-index: var(--z-fixed);
}

.nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* 溢出隐藏 */
    overflow: hidden;
}

.nav_brand{
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.nav_toggle{
    font-size: 1.25rem;
    padding: 0.75rem;
    /* 鼠标放上变小手 */
    cursor: pointer;
}

.nav_logo{
    color: var(--white-color);
    font-weight: 600;
}

.nav_link{
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 0.75rem;
    padding: 0.75rem;
    color: var(--white-color);
    border-radius: .5rem;
    margin-bottom: 1rem;
    transition: .3s;
    cursor: pointer;
}

.nav_link:hover{
    background-color: var(--first-color);
}

.nav_icon{
    font-size: 1.25rem;
}

.nav_name{
    font-size: var(--smal-font-size);
}

.expander{
    width: calc(var(--nav-width) + 9.25rem);
}

.body-pd{
    padding: 2rem 0 0 16rem;
}

.active{
    background-color: var(--first-color);
}

.collapse{
    /* grid-template-columns: 20px max-content 1rf; */
    grid-template-columns: 20px max-content 1fr;

}


.collapse__link{
    justify-self: flex-end;
    transition: .5s;
}

.showCollapse{
    display: block;
}

.rotate{
    transform: rotate(180deg);
}

.form{
    left: 50%;
    top: 0;
    flex-direction: row
}
 
.drop-area {
    height: 45vh;
    width: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #8b758e;
    border: 6px dashed #a99dbd;
    border-radius: 16px;
    user-select: none;
}
  
.upload-icon {
    color: #6161b1;
    font-size: 80px;
}
  
.tip {
    font-size: 30px;
}
  
.task-list {
    height: 40vh;
    margin-top: 20px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
  
.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    color: #502e6c80;
    padding: 16px;
    position: relative;
}

.resources-area .resource-list-wrapper .resource-list-crumbs, .rubrics-area .resource-list-wrapper .resource-list-crumbs {
    border-bottom: 1px solid #dfdfdf;
    line-height: 35px;
    padding: 0 20px;
}
.resources-area .resource-list-wrapper .resource-list-crumbs, .rubrics-area .resource-list-wrapper .resource-list-crumbs {
    border-bottom: 1px solid #dfdfdf;
    line-height: 35px;
    padding: 0 20px;
}
div, span {
    word-break: normal;
}
blockquote, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, li, ol, p, pre, td, th, ul {
    margin: 0;
    padding: 0;
}
*, ::after, ::before {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

a, a:hover {
    color: var(--link-color);
}
a, a:focus, a:hover {
    color: var(--primary-brand-color);
  }


.resources-area .menu-area, .rubrics-area .menu-area {
    padding: 9px 20px;
}
.resources-area .menu-area, .rubrics-area .menu-area {
    padding: 9px 20px;
}
div, span {
    word-break: normal;
}
blockquote, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, li, ol, p, pre, td, th, ul {
    margin: 0;
    padding: 0;
}
*, ::after, ::before {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.resources-area .menu-area ul.button-group, .rubrics-area .menu-area ul.button-group {
    float: none;
}
.resources-area .menu-area ul.button-group, .rubrics-area .menu-area ul.button-group {
    float: none;
}
ul.button-group {
    height: 27px;
}
.button-group {
    float: right;
}
.button-group {
    left: 0;
    list-style: none;
    margin: 0;
}
ul {
    margin-left: 1.1rem;
}
dl, ol, ul {
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.6;
    list-style-position: outside;
    margin-bottom: 1.42857rem;
}
blockquote, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, li, ol, p, pre, td, th, ul {
    margin: 0;
    padding: 0;
}
li, ul {
    list-style: none;
}
.button-group::after {
    clear: both;
}
.button-group::after, .button-group::before {
    content: " ";
    display: table;
}

.resources-area .menu-area ul.button-group li.operations, .rubrics-area .menu-area ul.button-group li.operations {
    width: 375px !important;
}
.resources-area .menu-area ul.button-group li.operations, .rubrics-area .menu-area ul.button-group li.operations {
    width: 375px !important;
}
.resources-area .menu-area ul.button-group li, .rubrics-area .menu-area ul.button-group li {
    width: auto;
}
.resources-area .menu-area ul.button-group li, .rubrics-area .menu-area ul.button-group li {
    width: auto;
}
ul.button-group > li {
    margin-left: 0;
    margin-right: 6px;
}
.button-group > li {
    display: inline-block;
    margin: 0 -2px;
      margin-right: -2px;
      margin-left: -2px;
}
blockquote, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, li, ol, p, pre, td, th, ul {
    margin: 0;
    padding: 0;
}
li, ul {
    list-style: none;
}
.resources-area .menu-area ul.button-group .batch-operation-button-wrapper, .rubrics-area .menu-area ul.button-group .batch-operation-button-wrapper {
    display: inline-block;
    margin-right: 5px;
    position: relative;
}
.resources-area .menu-area ul.button-group .batch-operation-button-wrapper, .rubrics-area .menu-area ul.button-group .batch-operation-button-wrapper {
    display: inline-block;
    margin-right: 5px;
    position: relative;
}
div, span {
    word-break: normal;
}
blockquote, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, li, ol, p, pre, td, th, ul {
    margin: 0;
      margin-right: 0px;
    padding: 0;
}

.resources-area .menu-area ul.button-group .batch-operation-button-wrapper .batch-button, .rubrics-area .menu-area ul.button-group .batch-operation-button-wrapper .batch-button {
    padding: 5px 11px 5px 15px;
}
.resources-area .menu-area ul.button-group .button, .resources-area .menu-area ul.button-group button, .rubrics-area .menu-area ul.button-group .button, .rubrics-area .menu-area ul.button-group button {
    border-radius: 3px;
}
ul.button-group > li:first-child .button, ul.button-group > li:first-child button {
    border: 1px solid #c9c9c9;
}

