.container {
    margin-top: 20px;
    width: 1000px;
    height: 550px;
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.user-block {
    width: 23%;
    height: 100%;
    border-radius: 15px;
    border: 1px dashed rgb(168, 168, 168);
    display: flex;
    flex-direction: column;
}

.function-block {
    width: 80%;
    height: 100%;
    border-radius: 15px;
    border: 1px dashed rgb(168, 168, 168);
}

.divider .divide-line {
    width: 2px;
    height: 90%;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 30px;
}

.user {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-fun {
    width: 100%;
    height: 60px;
}

.divide-line {
    width: 90%;
    margin: 0 auto;
    height: 1px;
    background-color: rgb(98, 98, 98);
}

.user-pic {
    width: 70px;
    height: 70px;
    background-color: red;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin: 5px;
}

.user-info {
    width: 130px;
    height: 90px;
    background-color: black
}