body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(200deg, #cbdcf5, #fce7ef);
}

.container {
    background-color: #ffffff;
    width: 450px;
    height: 150px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0, 1);
    position: relative;
    padding-top: 5px;
    padding-right: 3px;
    padding-bottom: 5px;
    padding-left: 8px;
}

.message-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 18px;
}