{% extends 'base.html' %} {% block title %}C919网盘{% endblock %} {% block header %}{{userName}}{% endblock %} {% block body %}
<div class="container">
    <div class="user-block">
        <div class="user">
            <div class="user-pic"></div>
            <div class="user-info"></div>
        </div>
        <div class="divide-line"></div>
        <div class="user-fun"></div>
        <div class="divide-line"></div>
        <div class="user-fun"></div>
        <div class="divide-line"></div>
        <div class="user-fun"></div>
    </div>
    <div class="divider">
        <div class="divide-line"></div>
    </div>
    <div class="function-block">
        <h1>这里是C919网盘主页面</h1>
        <h1><a href="{{url_for('login')}}">登录</a></h1>
    </div>
</div>

<link rel="stylesheet" href="static/css/index.css"> {% endblock %}