<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C919作战区</title>
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="stylesheet" href="static/css/index2.css">
</head>

<body>
    <div class="container">
        <div class="l-navbar" id="navbar">
            <nav class="nav">
                <div>
                    <div class="nav_brand">
                        <!-- <ion-icon name="menu-outline" class="nav_toggle" id="nav_toggle"></ion-icon> -->
                        <ion-icon name="menu-outline" class="nav_toggle" id="nav-toggle"></ion-icon>
                        <a href="#" class="nav_logo">C919作战区</a>
                    </div>
                    <div class="nav_list">
                        <p id="welcome" hidden>您好，{{ session.name }}</p>
                        <a href="#" class="nav_link" id="fileupload">
                            <ion-icon name="cloud-upload" class="nav_icon"></ion-icon>
                            <span class="nav_name">文件上传</span>
                        </a>
                        <a href="#" class="nav_link" id="floder">
                            <ion-icon name="folder-outline" class="nav_icon"></ion-icon>
                            <span class="nav_name">文件库</span>
                        </a>
                    </div>
                </div>
                <div class="nav_list">
                    <a href="/user/{{session.uid}}" class="nav_link">
                        <ion-icon name="person-outline" class="nav_icon"></ion-icon>
                        <span class="nav_name">用户设置</span>
                    </a>
                    <a href="/forgot" class="nav_link">
                        <ion-icon name="settings-outline" class="nav_icon"></ion-icon>
                        <span class="nav_name">修改密码</span>
                    </a>
                    <a href="/logout" class="nav_link">
                        <ion-icon name="log-out-outline" class="nav_icon"></ion-icon>
                        <span class="nav_name">退出登录</span>
                    </a>
                </div>
            </nav>
        </div>
        <div class="tips">
            <h1>C919作战区</h1>
        </div>
        <div class="file">
            <div class="file-upload hidden">
                <!--文件上传-->
                <div class="dnd-file-uploader">
                    <div class="drop-area" id="drop-area">
                        <ion-icon class="upload-icon" name="cloud-upload"></ion-icon>
                        <p class="tip">Drag&Drop files here</p>
                        <div class="select-file">
                            <button class="button-select-file" onclick="document.getElementById('file_input').click();" type="button" id="addfilebutton">
                            <i class="font font-file-select"></i>
                            <span>添加文件</span>
                            </button>
                            <form method="post" name="filebox" action="{{url_for('index')}}" enctype="multipart/form-data" id="fileform" hidden>
                                <input type="file" name="file" id="file_input" />
                                <input type='file' id="e_key" name="e_key" />
                                <input type='file' id="e_iv" name="e_iv" />
                                <input name="fun_select" value="file_upload" />
                            </form>
                            <!-- ngIf: useClientUploadFile -->
                        </div>
                        <div class="size-limit">
                            <span>将文件拖拽或点击上传，单个文件大小不能超过</span>
                            <span class="max-upload-size ng-binding" ng-bind="5368709120|humanizeBytes">10 MB</span>
                        </div>
                    </div>
                    <div>
                        <br>
                        <button class="button-select-file" onclick="fileUpload();" type="button" id="fileUploadButton"> 上 传 </button>
                        <button class="button-select-file" onclick="fileDelete();" type="button" id="fileDeleteButton" style="display: none;"> 重新选择 </button>
                        <span id="selectfilename"></span>
                        <br>
                        <span class="task">Preview:</span><br>
                        <img src="" style="width:200px;height:200px; margin:0 3px" hidden/>
                    </div>
                    <p hidden id="pubk">{{pubk}}</p>
                </div>

                <template id="template-task">
                <div class="task">
                    <a class="task-name" target="_blank">some file name</a>
                    <span class="task-progress">50%</span>
                </div>
            </template>
            </div>

            <div class="library ">
                <!--文件库-->
                <div class="list-header row">
                    <div class="large-9 column">
                        <input type="checkbox" class="left" ng-checked="checkAllSelected()" ng-click="switchAll()">
                        <span class="left">资源名</span>
                        <span class="sort-operation left" ng-click="changeSort('name')">
                    <i class="font font-up" ng-class="{'unselected': ui.predicate=='name' &amp;&amp; ui.reverse}"></i>
                    <i class="font font-down" ng-class="{'unselected': ui.predicate=='name' &amp;&amp; !ui.reverse}"></i>
                  </span>
                    </div>
                    <div class="large-6 column">
                        <span class="left">上传时间</span>
                        <span class="sort-operation left" ng-click="changeSort('created_at')">
                    <i class="font font-up unselected" ng-class="{'unselected': ui.predicate=='created_at' &amp;&amp; ui.reverse}"></i>
                    <i class="font font-down" ng-class="{'unselected': ui.predicate=='created_at' &amp;&amp; !ui.reverse}"></i>
                  </span>
                    </div>
                    <!-- ngIf: !(isVideoClipEnable && canClip) -->
                    <div class="large-5 column ng-scope" ng-if="!(isVideoClipEnable &amp;&amp; canClip)">
                        <!-- ngIf: ui.fileType != 'scorm' -->
                        <span ng-if="ui.fileType != 'scorm'" class="left ng-scope">大小</span>
                        <!-- end ngIf: ui.fileType != 'scorm' -->
                        <!-- ngIf: ui.fileType == 'scorm' -->
                        <span class="sort-operation left" ng-click="changeSort('size')">
                    <i class="font font-up" ng-class="{'unselected': ui.predicate=='size' &amp;&amp; ui.reverse}"></i>
                    <i class="font font-down" ng-class="{'unselected': ui.predicate=='size' &amp;&amp; !ui.reverse}"></i>
                  </span>
                    </div>
                    <!-- end ngIf: !(isVideoClipEnable && canClip) -->
                    <div class="large-5 column end" ng-class="{'end': !(isVideoClipEnable &amp;&amp; canClip)}">
                        <span class="left">操作</span>
                        <span class="sort-operation left" ng-click="changeSort('reference_count')">
                    <i class="font font-up" ng-class="{'unselected': ui.predicate=='reference_count' &amp;&amp; ui.reverse}"></i>
                    <i class="font font-down" ng-class="{'unselected': ui.predicate=='reference_count' &amp;&amp; !ui.reverse}"></i>
                  </span>
                    </div>
                    <div class="large-6 column end" ng-class="{'end': !(isVideoClipEnable &amp;&amp; canClip)}">
                        <!-- <button class="left fun">批量下载</button> -->
                        <button class="left fun">批量删除</button>
                    </div>
                    <!-- ngIf: (isVideoClipEnable && canClip) -->
                </div>
                <div class="files">
                    <div>
                        <ul>
                            {%if filelist%} {%for sfile in filelist%}
                            <li>
                                <div class="file-show" style="display: flex;">
                                    <div class="large-9 column" style="min-width: 0;">
                                        <input type="checkbox" class="left" ng-checked="checkAllSelected()" ng-click="switchAll()">
                                        <span class="left file-name" title="{{sfile[0]}}">{{sfile[0]}}</span>
                                    </div>
                                    <div class="large-6 column">
                                        <span class="left upload-time">{{sfile[1]}}</span>
                                    </div>
                                    <div class="large-5 column ng-scope" ng-if="!(isVideoClipEnable &amp;&amp; canClip)">
                                        <span ng-if="ui.fileType != 'scorm'" class="left ng-scope file-size">
                                            {%if (sfile[2] / 1024) > 100%}
                                                {{(sfile[2] / (1024*1024)) | round(2)}} MB
                                            {%else%}
                                                {{(sfile[2] / (1024)) | round(2)}} KB
                                            {%endif%}
                                        </span>
                                    </div>
                                    <div class="large-9 column end" ng-class="{'end': !(isVideoClipEnable &amp;&amp; canClip)}">
                                        <form method="get" action="{{url_for('file', stamp=sfile[3])}}"><button class="left fun">详情</button></form>
                                        <form method="post" action="{{url_for('index')}}" class="delform">
                                            <input name="fun_select" value="file_delete" style="display:none">
                                            <input name="delfilestamp" value="{{sfile[3]}}" style="display:none">
                                            <button class="left fun">删除</button>
                                        </form>
                                        {%if sfile[4] == 0%}
                                        <form method="post" action="{{url_for('index')}}" class="shareform">
                                            <input name="fun_select" value="file_share" style="display:none">
                                            <input name="sharefilestamp" value="{{sfile[3]}}" style="display:none">
                                            <button class="left fun">分享</button>
                                        </form>
                                        {%else%}
                                        <button class="left fun" id="shared" onmousemove="document.getElementById('shared').innerHTML='生成链接'" onmouseleave="document.getElementById('shared').innerHTML='已分享'" onclick="alert('https:\/\/127.0.0.1/sharefile/' + '{{sfile[3]}}')">已分享</button>                                        {%endif%}
                                    </div>
                                </div>
                            </li>
                            {%endfor%} {%else%}
                            <li>
                                <div class="file-show">
                                    <div class="large-9 column">
                                        <span class="left file-name">这里还没有东西哦~</span>
                                    </div>
                                    <div class="large-6 column">
                                        <span class="left upload-time">快来上传吧~</span>
                                    </div>
                                    <div class="large-5 column ng-scope" ng-if="!(isVideoClipEnable &amp;&amp; canClip)">
                                    </div>
                                    <div class="large-9 column end" ng-class="{'end': !(isVideoClipEnable &amp;&amp; canClip)}">

                                    </div>
                                </div>
                            </li>
                            {%endif%}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% for message in get_flashed_messages() %} {% if message%}
    <p hidden id="flash_mes">{{ message }}</p>
    {% endif %} {% endfor %}
</body>
<p hidden id="sign">{{ session.sign }}</p>
<p hidden id="rb">{{ session.randombytes }}</p>
<!--图案库-->
<script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
<script src="static/js/jquery-3.2.1.slim.min.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<!-- <script src="static/js/script.js"></script> -->
<script src="/static/js/crypto-js.js"></script>
<script src="/static/js/jsencrypt.min.js"></script>
<script src="/static/js/index.js"></script>

</html>