
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forgot passwd</title>
    <link rel="stylesheet" href="/static/css/forgot.css">
</head>

<body>
<div class="container">
    <div class="forgot-box">
        <div class="forgot-box-header">
            <h1>设置新密码</h1>
            <p>密码长度为8-16位，包含大小写字母和数字</p>
        </div>
        <div>
            <form action="forgot"method="post">
                <div class="form-group">
                    <input type="password" class="form-control" id="password" name="password" placeholder="请输入你的新密码">
                </div>
                <div class="form-box">
                   <button >完成</button>

                </div>
            </form>
        </div>

    </div>
</div>

</body>

</html>
