<!DOCTYPE html>
<html>

<body>
    <h1>Show File-select Fields</h1>

    <h3>
        Show a file-select field which allows only one file to be chosen:
    </h3>
    <br>
    <div class="drop-area" style="height: 200px; width: 400px; border: 1px solid">
        <span>drop file to here</span>
    </div>
    <br>
    <form method="post" name="filebox" action="{{url_for('testUpload')}}" enctype="multipart/form-data" id="fileform">
        <input type="file" name="file" id="file_input" />
        <input type='file' id="e_key" name="e_key" hidden/>
        <input type='file' id="e_iv" name="e_iv" hidden/>
        <br><br>
        <button type="button" id="file_upload" onclick="Upload();">Upload</button>
    </form>
    <div>
        <br>
        <span>Preview:</span><br>
        <img src="" style="width:200px;height:200px; margin:0 3px" hidden/>
    </div>
    <p hidden id="pubk">{{pubk}}</p>
</body>
<script src="/static/js/jsencrypt.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/ricmoo/aes-js/e27b99df/index.js"></script>
<script src="/static/js/jquery-3.2.1.slim.min.js"></script>
<script src="/static/js/crypto-js.js"></script>
<script src="/static/js/testupload.js"></script>


</html>