<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot password</title>
    <link rel="stylesheet" href="/static/css/waitfor.css">
</head>

<body>
    <div class="container">
        <div class="forgot-box">
            <div class="message-box">
                <p>请前往您的邮箱查收我们的验证连接并继续操作。</p>
                <p>您可以随时关闭此页面。</p>
            </div>
        </div>
    </div>
</body>

</html>